/* Colours */
/* Font Weight */
/* Utilities */
/* Theme colors */
/* border radius */
/* Box Shadow */
/* Fonts */
/* Common Utilities */
/* Flex */
/* Grid */
/* Side margin auto */
/* Text ellipse */
/* Fonts */
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Typography */
/* Typography Styling */
body {
  font-family: "HelveticaNowDisplay";
  font-weight: 400;
  font-size: 14.4px;
  line-height: 20.16px;
  /* Form Fields 
  input,
  textarea,
  select option {
    // Typography for form fields
  }
  */
  /* Section Elements */
}
body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "HelveticaNowDisplay";
  font-weight: 500;
  color: #FAFAFA;
}
body h1 *, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span *,
body h2 *,
body h3 *,
body h4 *,
body h5 *,
body h6 * {
  font-family: inherit;
  font-weight: inherit;
}
body p, body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link, body .section-label,
body ul li,
body input,
body textarea,
body select option {
  font-family: "HelveticaNowDisplay";
  font-weight: 400;
}
body button {
  font-family: "HelveticaNowDisplay";
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
body button * {
  font-family: inherit;
  font-weight: inherit;
}
body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link,
body .section-label {
  padding: 0;
}
body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link,
body .section-label,
body li {
  color: #FAFAFA;
}
body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span,
body h2,
body h3,
body h4,
body h5,
body h6,
body a,
body p,
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link,
body .section-label,
body button {
  margin: 0;
  font-style: normal;
}
body a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
body a:hover {
  text-decoration: none;
}
body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span {
  font-size: 79px;
  line-height: 1;
  letter-spacing: -1.32px;
}
@media screen and (max-width: 1199px) {
  body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span {
    font-size: 56px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  body h1, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span {
    font-size: 48px;
    letter-spacing: 0.48px;
  }
}
body h2 {
  font-size: 60px;
  line-height: 63px;
  letter-spacing: -0.6px;
}
@media screen and (max-width: 1199px) {
  body h2 {
    font-size: 46px;
    line-height: 49px;
    letter-spacing: -0.46px;
  }
}
@media screen and (max-width: 767px) {
  body h2 {
    font-size: 36px;
    line-height: 38px;
    letter-spacing: -0.36px;
  }
}
body h3 {
  font-size: 49px;
  line-height: 54px;
  letter-spacing: -0.49px;
}
@media screen and (max-width: 1199px) {
  body h3 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  body h3 {
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0.35px;
  }
}
body h4 {
  font-size: 36px;
  line-height: 1;
  letter-spacing: -0.36px;
}
@media screen and (max-width: 1199px) {
  body h4 {
    font-size: 32px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 767px) {
  body h4 {
    font-size: 27px;
    letter-spacing: 0.32px;
  }
}
body h5 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.32px;
}
@media screen and (max-width: 767px) {
  body h5 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.24px;
  }
}
body h6 {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.24px;
}
@media screen and (max-width: 767px) {
  body h6 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
body p, body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link, body .section-label,
body li {
  font-size: 14.4px;
  line-height: 20.16px;
  font-weight: 400;
}
body button {
  font-size: 17px;
  line-height: 1;
  text-align: center;
}
body .theme-primary-text,
body .theme-primary-text * {
  color: #FAFAFA;
}
body .theme-secondary-text,
body .theme-secondary-text * {
  color: #0C0C0C;
}
body .section-label {
  font-weight: 500;
  cursor: pointer;
  transition: 550ms all ease;
  padding: 3.6px 10.8px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 21.6px;
  background-color: #0C0C0C;
  border: 1px solid #0C0C0C;
  color: #FAFAFA;
  margin-bottom: 36px;
}
@media screen and (max-width: 991px) {
  body .section-label {
    margin-bottom: 20px;
  }
}
body .section-label:hover {
  transition: 550ms all ease;
  background-color: #FAFAFA;
  color: #0C0C0C;
}
body .section-label.secondary-label {
  background-color: #FAFAFA;
  color: #0C0C0C;
}
body .section-label.secondary-label:hover {
  background-color: #0C0C0C;
  color: #FAFAFA;
}

html,
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body ol,
body ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body ol::before, body ol::after,
body ul::before,
body ul::after {
  display: none;
}
body img {
  max-width: 100%;
}
body .container {
  max-width: 1199px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  body .container {
    max-width: 901px;
  }
}
@media screen and (max-width: 991px) {
  body .container {
    max-width: 707px;
  }
}
@media screen and (max-width: 767px) {
  body .container {
    max-width: 503px;
  }
}
@media screen and (max-width: 543px) {
  body .container {
    max-width: 100%;
  }
}
body section {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* Custom Scrollbar */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background: #0C0C0C;
}
*::-webkit-scrollbar-thumb {
  background: rgba(250, 250, 250, 0.6);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(250, 250, 250, 0.85);
}

/* Font weights */
body .extra-light {
  font-weight: 200;
}
body .light {
  font-weight: 300;
}
body .regular {
  font-weight: 400;
}
body .medium {
  font-weight: 500;
}
body .semi-bold {
  font-weight: 600;
}
body .bold {
  font-weight: 700;
}

/* Typography */
body .text-center {
  text-align: center;
}

/* Common Components */
body header.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 8px 0;
}
body header.header nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header.header nav.navbar .menu-area {
  display: flex;
  align-items: center;
  flex: 1;
}
body header.header nav.navbar .menu-area.left-side-menu {
  justify-content: flex-start;
}
body header.header nav.navbar .menu-area.right-side-menu {
  justify-content: flex-end;
}
body header.header nav.navbar .menu-area ul.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link {
  color: #FAFAFA;
  position: relative;
  text-transform: uppercase;
  transition: 550ms all ease;
  font-weight: 500;
}
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: translateY(3px);
  background-color: #FAFAFA;
  border-radius: 3px;
  transition: 550ms all ease;
}
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:hover {
  transition: 550ms all ease;
  color: #858585;
}
body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:hover::after {
  background-color: #858585;
  transition: 550ms all ease;
}
body header.header nav.navbar .brand-area {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 120px;
}
@media screen and (max-width: 1199px) {
  body header.header nav.navbar .brand-area {
    margin: 0 100px;
  }
}
@media screen and (max-width: 991px) {
  body header.header nav.navbar .brand-area {
    margin: 0 80px;
  }
}
body header.header nav.navbar .brand-area .logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 41px;
}
body header.header nav.navbar .brand-area .logo-link img.brand-logo {
  width: auto;
  height: 100%;
  transition: 550ms all ease;
}
body header.header.colored-header {
  background-color: rgba(250, 250, 250, 0.55);
  -webkit-backdrop-filter: blur(5px) brightness(0.95);
          backdrop-filter: blur(5px) brightness(0.95);
}
body header.header.colored-header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link {
  color: #0C0C0C;
}
body header.header.colored-header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:after {
  background-color: #0C0C0C;
}
body header.header.colored-header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:hover {
  transition: 550ms all ease;
  color: #FAFAFA;
}
body header.header.colored-header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.menu-link:hover::after {
  background-color: #FAFAFA;
  transition: 550ms all ease;
}
body header.header.colored-header nav.navbar .brand-area .logo-link img.brand-logo {
  filter: brightness(0);
  transition: 550ms all ease;
}

/* Pages */
body main.main-content section {
  /* Hero Section */
  /* About Us Section */
  /* Companies Section */
  /* Rounded Banner Section */
  /* Benefits Section */
  /* Our Fabircs Section */
  /* Contact CTA Section */
}
body main.main-content section.hero-section-wrap .hero-section {
  background-size: cover;
  background-position: center;
}
body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper {
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 102px;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper {
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper {
    padding-bottom: 54px;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper {
    padding-bottom: 30px;
  }
}
body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper .hero-content {
  text-align: center;
}
body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper .hero-content h1, body main.main-content section.hero-section-wrap .hero-section .overlay-wrapper .hero-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span, body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn section.hero-section-wrap .hero-section .overlay-wrapper .hero-content span {
  text-transform: uppercase;
}
body main.main-content section.about-section-wrap {
  padding: 90px 0;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.about-section-wrap {
    padding: 82px 0;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap {
    padding: 68px 0;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.about-section-wrap {
    padding: 52px 0;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.about-section-wrap {
    padding: 27px 0;
  }
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0;
       column-gap: 0;
  row-gap: 27px;
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area {
  display: flex;
  align-items: center;
  gap: 27px;
  width: 40%;
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area {
    width: 100%;
  }
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img {
    height: 100%;
  }
}
@media screen and (min-width: 992px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-left {
    aspect-ratio: 187/226;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-left {
    width: calc(40% - 13.5px);
  }
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-left img {
    transform: scale(1.4);
  }
}
@media screen and (min-width: 992px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-right {
    aspect-ratio: 280/453;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-right {
    width: calc(60% - 13.5px);
  }
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img.img-right img {
    transform: scale(1.6);
  }
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .media-area figure.about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  transform: scale(1.2);
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .content-area {
  width: 60%;
  padding: 0 85px 100px;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .content-area {
    padding: 0 70px 90px;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .content-area {
    padding: 0;
    width: 100%;
  }
}
body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .content-area .content-text {
  margin-top: 20px;
}
@media screen and (min-width: 992px) {
  body main.main-content section.about-section-wrap .about-section .about-inner-wrapper .content-area .content-text {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
  }
}
body main.main-content section.companies-section-wrap .companies-section .companies-inner-wrapper:not(.slick-initialized) {
  display: flex;
  align-items: center;
  overflow-x: auto;
}
body main.main-content section.companies-section-wrap .companies-section .companies-inner-wrapper .slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main.main-content section.companies-section-wrap .companies-section .companies-inner-wrapper .company-itm {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main.main-content section.companies-section-wrap .companies-section .companies-inner-wrapper .company-itm img.company-logo {
  transition: 550ms all ease;
  filter: grayscale(1);
  opacity: 0.6;
}
body main.main-content section.companies-section-wrap .companies-section .companies-inner-wrapper .company-itm:hover img.company-logo {
  transition: 550ms all ease;
  filter: grayscale(0);
  opacity: 1;
  cursor: pointer;
}
body main.main-content section.rounded-banner-section-wrap {
  padding: 90px 0;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.rounded-banner-section-wrap {
    padding: 82px 0;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.rounded-banner-section-wrap {
    padding: 68px 0;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.rounded-banner-section-wrap {
    padding: 52px 0;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.rounded-banner-section-wrap {
    padding: 27px 0;
  }
}
body main.main-content section.rounded-banner-section-wrap .rounded-banner-section {
  overflow: hidden;
}
body main.main-content section.rounded-banner-section-wrap .rounded-banner-section .rounded-banner {
  overflow: hidden;
  transition: border-radius 0.3s ease;
  border-radius: 0.5px;
}
@media screen and (min-width: 768px) {
  body main.main-content section.rounded-banner-section-wrap .rounded-banner-section .rounded-banner {
    height: 470px;
  }
}
body main.main-content section.rounded-banner-section-wrap .rounded-banner-section .rounded-banner img.banner {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  transition: 550ms all ease;
}
body main.main-content section.benefits-section-wrap {
  padding: 90px 0;
  overflow: hidden;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.benefits-section-wrap {
    padding: 82px 0;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.benefits-section-wrap {
    padding: 68px 0;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.benefits-section-wrap {
    padding: 52px 0;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.benefits-section-wrap {
    padding: 27px 0;
  }
}
body main.main-content section.benefits-section-wrap .benefits-section .heading-area p.section-label, body main.main-content section.benefits-section-wrap .benefits-section .heading-area .section-label, body main.main-content section.benefits-section-wrap .benefits-section .heading-area header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.section-label.menu-link, body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm main.main-content section.benefits-section-wrap .benefits-section .heading-area a.section-label.menu-link {
  margin-left: auto;
  margin-right: auto;
}
body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
}
@media screen and (max-width: 991px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card {
  background-position: center;
  background-size: cover;
}
body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.48) 50%);
  padding: 30px;
}
@media screen and (max-width: 767px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay {
    padding: 27px;
  }
}
body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content {
  padding-top: 150px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content {
    padding-top: 110px;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content {
    padding-top: 90px;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content {
    padding-top: 70px;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content {
    padding-top: 30px;
  }
}
body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content .benefit-title {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  body main.main-content section.benefits-section-wrap .benefits-section .benefits-cards .benefit-card .gradient-overlay .content .benefit-title {
    margin-bottom: 20px;
  }
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section {
  background-position: top center;
  background-size: 130%;
}
@media screen and (max-width: 991px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section {
    background-size: 140%;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section {
    background-size: 150%;
  }
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper {
  background-color: rgba(0, 0, 0, 0.64);
  padding: 150px 0;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper {
    padding: 110px 0;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper {
    padding: 90px 0;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper {
    padding: 70px 0;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper {
    padding: 30px 0;
  }
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 992px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content {
    width: 66.6666666667%;
    margin: 0 auto;
  }
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content p.section-label, body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content .section-label, body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm a.section-label.menu-link, body header.header nav.navbar .menu-area ul.menu-wrapper li.menu-itm main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.section-label.menu-link {
  margin-left: auto;
  margin-right: auto;
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn {
  margin-top: 60px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 991px) {
  body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn {
    margin-top: 54px;
  }
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn span {
  position: relative;
  color: #FAFAFA;
  font-size: 17px;
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(5px);
  transition: 550ms all ease;
  width: 100%;
  height: 1px;
  background-color: #FAFAFA;
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn img.icon {
  transition: 550ms all ease;
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn:hover span::after {
  width: 10px;
  right: 0;
  transition: 550ms all ease;
}
body main.main-content section.fabrics-banner-section-wrap .fabrics-banner-section .overlay-wrapper .content a.redirection-btn:hover img.icon {
  transition: 550ms all ease;
  transform: rotate(45deg);
}
body main.main-content section.contact-section-wrap .contact-section {
  background-color: #0C0C0C;
  position: relative;
  /* Styling for parent's parent div contact section */
}
body main.main-content section.contact-section-wrap .contact-section::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #FFF200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: 550ms all ease;
}
body main.main-content section.contact-section-wrap .contact-section.hovered {
  transition: 550ms all ease;
}
body main.main-content section.contact-section-wrap .contact-section.hovered::after {
  background-color: #858585;
  transition: 550ms all ease;
  top: 35%;
  right: 40%;
  bottom: 35%;
  left: 40%;
  width: 20%;
  height: 30%;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap {
  padding: 150px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap {
    padding: 110px 0;
  }
}
@media screen and (max-width: 991px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap {
    padding: 90px 0;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap {
    padding: 70px 0;
  }
}
@media screen and (max-width: 543px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap {
    padding: 30px 0;
  }
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  width: -moz-max-content;
  width: max-content;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span {
  position: relative;
  color: #0C0C0C;
  text-transform: uppercase;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(10px);
  transition: 550ms all ease;
  width: 100%;
  height: 4px;
  background-color: #0C0C0C;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn img.icon {
  transition: 550ms all ease;
  filter: brightness(0);
  width: auto;
  height: 39.5px;
}
@media screen and (max-width: 1199px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn img.icon {
    height: 28px;
  }
}
@media screen and (max-width: 767px) {
  body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn img.icon {
    height: 24px;
  }
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn:hover span {
  color: #FFF200;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn:hover span::after {
  width: 10px;
  right: 0;
  background-color: #FFF200;
  transition: 550ms all ease;
}
body main.main-content section.contact-section-wrap .contact-section .contact-cta-inner-wrap a.contact-cta-btn:hover img.icon {
  transition: 550ms all ease;
  filter: brightness(1);
  transform: rotate(45deg);
}/*# sourceMappingURL=main.css.map */