body {
  main.main-content {
    section {
      /* Hero Section */
      &.hero-section-wrap {
        .hero-section {
          background-size: cover;
          background-position: center;

          .overlay-wrapper {
            height: 90vh;
            background-color: rgba($black, 0.2);
            @include flex-column;
            justify-content: flex-end;
            padding-bottom: 102px;

            @media screen and (max-width: 1199px) {
              padding-bottom: 80px;
            }
            @media screen and (max-width: 991px) {
              padding-bottom: 64px;
            }
            @media screen and (max-width: 767px) {
              padding-bottom: 54px;
            }
            @media screen and (max-width: 543px) {
              padding-bottom: 30px;
            }

            .hero-content {
              text-align: center;

              h1 {
                text-transform: uppercase;
              }
            }
          }
        }
      }

      /* About Us Section */
      &.about-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: 1199px) {
          padding: 82px 0;
        }
        @media screen and (max-width: 991px) {
          padding: 68px 0;
        }
        @media screen and (max-width: 767px) {
          padding: 52px 0;
        }
        @media screen and (max-width: 543px) {
          padding: 27px 0;
        }

        .about-section {
          .about-inner-wrapper {
            @include flex-wrap;
            column-gap: 0;
            row-gap: 27px;

            .media-area {
              @include flex-center;
              gap: 27px;
              width: 40%;

              @media screen and (max-width: 991px) {
                width: 100%;
              }

              figure.about-img {
                padding: 0;
                margin: 0;
                overflow: hidden;

                @media screen and (max-width: 991px) {
                  height: 100%;
                }

                &.img-left {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 187/226;
                  }

                  @media screen and (max-width: 991px) {
                    width: calc(40% - 13.5px);

                    img {
                      transform: scale(1.4);
                    }
                  }
                }
                &.img-right {
                  @media screen and (min-width: 992px) {
                    aspect-ratio: 280/453;
                  }
                  @media screen and (max-width: 991px) {
                    width: calc(60% - 13.5px);

                    img {
                      transform: scale(1.6);
                    }
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center top;
                  transform: scale(1.2);
                }
              }
            }

            .content-area {
              width: 60%;
              padding: 0 85px 100px;

              @media screen and (max-width: 1199px) {
                padding: 0 70px 90px;
              }
              @media screen and (max-width: 991px) {
                padding: 0;
                width: 100%;
              }

              .content-text {
                margin-top: 20px;

                @media screen and (min-width: 992px) {
                  margin-top: 50px;
                  width: 60%;
                  margin-left: auto;
                }
              }
            }
          }
        }
      }

      /* Companies Section */
      &.companies-section-wrap {
        .companies-section {
          .companies-inner-wrapper {
            &:not(.slick-initialized) {
              @include flex-center;
              overflow-x: auto;
            }

            .slick-track {
              @include flex-center;
              justify-content: center;
            }

            .company-itm {
              padding: 5px 15px;
              @include flex-center;
              justify-content: center;

              img.company-logo {
                transition: $transition;
                filter: grayscale(1);
                opacity: 0.6;
              }

              &:hover {
                img.company-logo {
                  transition: $transition;
                  filter: grayscale(0);
                  opacity: 1;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      /* Rounded Banner Section */
      &.rounded-banner-section-wrap {
        padding: 90px 0;

        @media screen and (max-width: 1199px) {
          padding: 82px 0;
        }
        @media screen and (max-width: 991px) {
          padding: 68px 0;
        }
        @media screen and (max-width: 767px) {
          padding: 52px 0;
        }
        @media screen and (max-width: 543px) {
          padding: 27px 0;
        }

        .rounded-banner-section {
          overflow: hidden;

          .rounded-banner {
            overflow: hidden;
            transition: border-radius 0.3s ease;
            border-radius: 0.5px;

            @media screen and (min-width: 768px) {
              height: 470px;
            }

            img.banner {
              display: block;
              width: 100%;
              height: auto;
              object-fit: cover;
              transform: scale(1.1);
              transition: $transition;
            }
          }
        }
      }

      /* Benefits Section */
      &.benefits-section-wrap {
        padding: 90px 0;
        overflow: hidden;

        @media screen and (max-width: 1199px) {
          padding: 82px 0;
        }
        @media screen and (max-width: 991px) {
          padding: 68px 0;
        }
        @media screen and (max-width: 767px) {
          padding: 52px 0;
        }
        @media screen and (max-width: 543px) {
          padding: 27px 0;
        }

        .benefits-section {
          .heading-area {
            p.section-label {
              margin-left: auto;
              margin-right: auto;
            }
          }

          .benefits-cards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 27px;

            @media screen and (max-width: 991px) {
              grid-template-columns: repeat(1, 1fr);
            }

            .benefit-card {
              background-position: center;
              background-size: cover;

              .gradient-overlay {
                width: 100%;
                height: 100%;

                background-image: linear-gradient(
                  180deg,
                  rgba($black, 0) 0,
                  rgba($black, 0.48) 50%
                );
                padding: 30px;

                @media screen and (max-width: 767px) {
                  padding: 27px;
                }

                .content {
                  padding-top: 150px;
                  text-align: center;

                  @media screen and (max-width: 1199px) {
                    padding-top: 110px;
                  }
                  @media screen and (max-width: 991px) {
                    padding-top: 90px;
                  }
                  @media screen and (max-width: 767px) {
                    padding-top: 70px;
                  }
                  @media screen and (max-width: 543px) {
                    padding-top: 30px;
                  }

                  .benefit-title {
                    margin-bottom: 25px;

                    @media screen and (max-width: 767px) {
                      margin-bottom: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      /* Our Fabircs Section */
      &.fabrics-banner-section-wrap {
        .fabrics-banner-section {
          background-position: top center;
          background-size: 130%;

          @media screen and (max-width: 991px) {
            background-size: 140%;
          }
          @media screen and (max-width: 767px) {
            background-size: 150%;
          }

          .overlay-wrapper {
            background-color: rgba($black, 0.64);
            padding: 150px 0;
            text-align: center;

            @media screen and (max-width: 1199px) {
              padding: 110px 0;
            }
            @media screen and (max-width: 991px) {
              padding: 90px 0;
            }
            @media screen and (max-width: 767px) {
              padding: 70px 0;
            }
            @media screen and (max-width: 543px) {
              padding: 30px 0;
            }

            .content {
              @include flex-column;
              align-items: center;

              @media screen and (min-width: 992px) {
                width: calc(100% - calc(100% / 3));
                margin: 0 auto;
              }

              p.section-label {
                margin-left: auto;
                margin-right: auto;
              }

              a.redirection-btn {
                margin-top: 60px;
                width: max-content;
                @include flex-center;
                gap: 10px;

                @media screen and (max-width: 991px) {
                  margin-top: 54px;
                }

                span {
                  position: relative;
                  color: $theme-primary;
                  font-size: 17px;

                  &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(5px);
                    transition: $transition;

                    width: 100%;
                    height: 1px;
                    background-color: $theme-primary;
                  }
                }

                img.icon {
                  transition: $transition;
                }

                &:hover {
                  span {
                    &::after {
                      width: 10px;
                      right: 0;
                      transition: $transition;
                    }
                  }
                  img.icon {
                    transition: $transition;
                    transform: rotate(45deg);
                  }
                }
              }
            }
          }
        }
      }

      /* Contact CTA Section */
      &.contact-section-wrap {
        .contact-section {
          background-color: $theme-secondary;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            transition: $transition;
          }

          /* Styling for parent's parent div contact section */
          &.hovered {
            transition: $transition;

            &::after {
              background-color: $hover-grey;
              transition: $transition;
              top: 35%;
              bottom: 35%;
              right: 40%;
              left: 40%;
              width: 20%;
              height: 30%;

              @media screen and (max-width: 767px) {
                top: 30%;
                bottom: 30%;
                height: 40%;
              }
              @media screen and (max-width: 543px) {
                top: 20%;
                bottom: 20%;
                left: 30%;
                right: 30%;
                width: 40%;
                height: 60%;
              }
            }
          }

          .contact-cta-inner-wrap {
            padding: 150px 0;
            text-align: center;
            position: relative;
            z-index: 1;

            @include flex-center;
            justify-content: center;

            @media screen and (max-width: 1199px) {
              padding: 110px 0;
            }
            @media screen and (max-width: 991px) {
              padding: 90px 0;
            }
            @media screen and (max-width: 767px) {
              padding: 70px 0;
            }
            @media screen and (max-width: 543px) {
              padding: 30px 0;
            }

            a.contact-cta-btn {
              @include flex-center;
              gap: 30px;
              width: max-content;

              span {
                position: relative;
                color: $theme-secondary;
                @extend h1;
                text-transform: uppercase;

                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  transform: translateY(10px);
                  transition: $transition;

                  width: 100%;
                  height: 4px;
                  background-color: $theme-secondary;
                }
              }

              img.icon {
                transition: $transition;
                filter: brightness(0);
                width: auto;
                height: calc(79px / 2);

                @media screen and (max-width: 1199px) {
                  height: calc(56px / 2);
                }

                @media screen and (max-width: 767px) {
                  height: calc(48px / 2);
                }
              }

              &:hover {
                span {
                  color: $yellow;

                  &::after {
                    width: 10px;
                    right: 0;
                    background-color: $yellow;
                    transition: $transition;
                  }
                }
                img.icon {
                  transition: $transition;
                  filter: brightness(1);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
