/* Colours */
$black: #000000;
$white: #FFFFFF;
$grey: #FAFAFA;
$grey-2: #CECECE;
$dark-grey: #0C0C0C;
$red: #E94848;
$green: #27AE60;
$yellow: #FFF200;

/* Font Weight */
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

/* Utilities */
$transition-fast: 350ms all ease;
$transition: 550ms all ease;
$transition-slow: 750ms all ease;


/* Theme colors */
$theme-primary: $grey; 
$theme-secondary: $dark-grey;
$hover-grey: #858585;

/* border radius */
$theme-primary-radius: 5px;
$theme-section-label-radius: 21.6px; 
$theme-sharp-radius: 100px;

/* Box Shadow */
$theme-primary-box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;

/* Fonts */
$theme-primary-font: 'HelveticaNowDisplay';
// $theme-secondary-font: 'Font Name';